doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css' href='http://fonts.googleapis.com/css?family=Raleway:400,300,600')
    link(rel='stylesheet', href='public/normalize.css')
    link(rel='stylesheet', href='public/skeleton.css')
    link(rel='stylesheet', href='public/style.css')
    title Twitch Services
  body
    section#header
      .container
        .row
          .six(class='columns logo')
            img(class='u-max-full-width', src='public/images/twitch.png')
          .six(class='columns contact')
            div
              strong Warrick:&nbsp;#[a(href='tel:0419 192 337') 0419&nbsp;192&nbsp;337]
            div 
              strong Tim:&nbsp;#[a(href='tel:0428 315 278') 0428&nbsp;315&nbsp;278]
            a(href='https://www.facebook.com/twitchservices')
              img(src='public/images/FB-f-Logo__blue_29.png', height="20px", width="20px")
        hr  
    section#services
      .container
        .row(class='center')
            h5 Refrigeration
            h5 Electrical
            h5 Air&nbsp;Conditioning
    .container
      hr
    section
      .container
        p Do you see any Teletubbies in here? 
          |Do you see a slender plastic tag clipped to my shirt with my name printed on it? 
          |Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical 
          |helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. 
          |And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
        p Well, the way they make shows is, they make one show. That show's called a pilot. 
          |Then they show that show to the people who make shows, and on the strength of that one show they 
          |decide if they're going to make more shows. Some pilots get picked and become television programs. 
          |Some don't, become nothing. She starred in one of the ones that became nothing.
        hr
    section#team
      .container
        .row
          .three(class='columns photo')
            img(class='circular u-max-full-width', src='https://pbs.twimg.com/profile_images/2114689314/FpY7m.jpg')
          .nine(class='columns')
            h5(class="name") Warrick Sulivan
            p Marshmallow macaroon sesame snaps soufflé. 
              |Tootsie roll lollipop marzipan lemon drops liquorice. 
              |Donut caramels cake danish candy wafer ice cream cotton candy. 
              |Ice cream powder toffee chocolate cake toffee soufflé cake tootsie roll. 
              |Soufflé liquorice jelly-o dessert pie sweet donut. 
              |Sugar plum cotton candy halvah macaroon sweet roll cake. 
              |Danish cotton candy jelly-o.
        hr
    section
      .container
        .row
          .three(class='columns photo')
            img(class='circular u-max-full-width', src='http://pinkbluelovescute.com/wp-content/uploads/2012/11/Cute-little-dog-checking-out-a-pumkin..jpeg')
          .nine(class='columns')
            h5(class="name") Tim Woods
            p Pie pudding cupcake dragée lollipop caramels jujubes danish chocolate. 
              |Marzipan cheesecake gummi bears caramels biscuit ice cream lollipop. 
              |Sesame snaps chocolate cake gingerbread gummi bears cake macaroon dragée pie. 
              |Gummies sweet bonbon toffee tootsie roll tootsie roll brownie dragée. 
              |Pie chupa chups wafer fruitcake toffee gummies jelly-o sugar plum chocolate cake. 
              |Cake marshmallow jelly toffee brownie. 
              |Danish marzipan cupcake sweet roll macaroon pudding lemon drops cotton candy.