#header {
  margin-top: 50px;
}

#header a {
  color: #222;
  text-decoration: none;
}

#header a:hover {
  color: #c1282d;
}

#services h5 {
  margin: 0;
}

.phone > * {
  margin: 0;
}

.logo,
.contact,
.photo,
.name,
.phone {
  text-align: center;
}

.photo > img {
  max-height: 200px;
}

#team hr {
  border: 0;
}

@media (min-width: 550px) {
  .photo,
  .name {
    text-align: initial;
  }

  #header .contact {
    text-align: right;
  }
}

.circular {
  border-radius:50%;
}

.center {
  text-align: center;
}

.seventy {
  max-width: 70%;
}