huge-snap = 1200px
xl-snap = 1024px
large-snap = 980px
med-snap = 768px
small-snap = 635px

font-stack = 'Open Sans', Helvetica, sans-serif
primary-color = #eee
tamarillo = #a8171b
tallpoppy = #c1272d