huge-snap = 1200px
xl-snap = 1024px
large-snap = 980px
med-snap = 768px
small-snap = 635px

tamarillo = #a8171b
tallpoppy = #c1272d

$primary-color = #eee
$background-color = #fefefe
$accent-color = tallpoppy
$light-text-color = #eee